.tool {
  position: absolute;
  border: 1px solid #232323;
  opacity: .8;
  background: transparent;
  pointer-events: none;
}

.ghost {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
  opacity: .5;
}